<aside class="pflege-cat-trust" aria-label="Ihre Vorteile beim Einkauf">
  <ul class="pflege-cat-trust__list">
    <li class="pflege-cat-trust__item">
      <span class="pflege-cat-trust__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"><path d="M21 8l-9-4-9 4v8l9 4 9-4V8z"/><path d="M3.3 7.7 12 12l8.7-4.3M12 22V12"/></svg>
      </span>
      <div class="pflege-cat-trust__text">
        <strong>{{ 'sections.cart.pflege.free_shipping_title' | t }}</strong>
        <span>{{ 'sections.cart.pflege.free_shipping_subline' | t }}</span>
      </div>
    </li>
    <li class="pflege-cat-trust__item">
      <span class="pflege-cat-trust__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"><rect x="3" y="11" width="18" height="11" rx="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
      </span>
      <div class="pflege-cat-trust__text">
        <strong>Sichere Zahlung</strong>
        <span>Kauf auf Rechnung möglich</span>
      </div>
    </li>
    <li class="pflege-cat-trust__item">
      <span class="pflege-cat-trust__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72c.127.96.361 1.903.7 2.81a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45c.907.339 1.85.573 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
      </span>
      <div class="pflege-cat-trust__text">
        <strong>Persönliche Beratung</strong>
        <span>07733 / 9488820</span>
      </div>
    </li>
    <li class="pflege-cat-trust__item">
      <span class="pflege-cat-trust__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><path d="M14 2v6h6M9 15l2 2 4-4"/></svg>
      </span>
      <div class="pflege-cat-trust__text">
        <strong>Rezeptabrechnung möglich</strong>
        <span>einfach &amp; unkompliziert</span>
      </div>
    </li>
  </ul>
</aside>
