{% comment %}
  Pflege PDP – hellblauer Vertrauensblock unterhalb der Kaufzeile (Mockup).
{% endcomment %}
<div class="pflege-product__cart-extras pflege-product__cart-extras--mockup-only">
  <div class="pflege-product__trust-panel" role="presentation">
    <div class="pflege-product__trust-panel-row">
      {% render 'pflege-icon', icon: 'truck', width: 22 %}
      <span class="pflege-product__trust-panel-text">{{ 'products.product.pflege_cart.trust_ship_title' | t }}</span>
    </div>
    <div class="pflege-product__trust-panel-row">
      {% render 'pflege-icon', icon: 'ticket', width: 22 %}
      <span class="pflege-product__trust-panel-text">{{ 'products.product.pflege_cart.trust_invoice_title' | t }}</span>
    </div>
    <div class="pflege-product__trust-panel-row">
      {% render 'pflege-icon', icon: 'rotate-ccw', width: 22 %}
      <span class="pflege-product__trust-panel-text">{{ 'products.product.pflege_cart.trust_returns_title' | t }}</span>
    </div>
  </div>
</div>
